{
  "module": {
    "type": "es6",
    "strict": true,
    "strictMode": false
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "jsx": true,
      "dynamicImport": true,
      "privateMethod": false,
      "functionBind": false,
      "exportDefaultFrom": true,
      "exportNamespaceFrom": true,
      "decorators": true,
      "decoratorsBeforeExport": false,
      "topLevelAwait": false,
      "importMeta": true,
      "tsx": true
    },
    "target": "es2017",
    "loose": true,
    "externalHelpers": false,
    "keepClassNames": true
  },
  "minify": false
}
